@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

:root {
  /* Primary */
  --dark-purple: #0a0c1c;
  --purple: #1b1937;
  --pink: #ab5cdb;

  /* Neutral */
  --white: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--dark-purple);
  color: var(--white);
  font-family: 'Inter', sans-serif;
  padding: 5.5rem 1.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description {
  opacity: 0.75;
}

.card {
  background: var(--purple);
  border-radius: 0 0 0.5rem 0.5rem;
  text-align: center;
  width: 327px;
}

/* Card Top */
.card--img {
  background: linear-gradient(rgba(170, 92, 219, 0.6), rgba(170, 92, 219, 0.6)),
    url('../images/image-header-mobile.jpg') no-repeat;
  background-size: contain;
  border-radius: 0.5rem 0.5rem 0 0;
  height: 240px;
  width: 100%;
}

/* Card Bottom */
.card--info {
  padding: 2rem;
}

.card__text .heading {
  font-size: 1.75rem;
}

.card__text .heading--highlight {
  color: var(--pink);
}

.card__text .description {
  font-size: 15px;
  line-height: 25px;
  margin-top: 1rem;
}

/* Card Stats */
.card__stats {
  margin-top: 2.5rem;
}

.card__stats .stats--templates,
.card__stats .stats--queries {
  margin-top: 1.5rem;
}

.card__stats .heading {
  font-size: 1.5rem;
}

.card__stats .description {
  font-size: 12px;
  letter-spacing: 1px;
  margin-top: 0.5rem;
  text-transform: uppercase;
}

/* Footer */
.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 2rem;
}

.attribution a {
  color: var(--pink);
}

/* Media Queries */
@media screen and (min-width: 1439px) {
  body {
    padding: 0;
    height: 100vh;
  }

  .card {
    border-radius: 0.5rem 0 0 0.5rem;
    display: flex;
    flex-direction: row-reverse;
    height: 446px;
    text-align: start;
    width: 1110px;
  }

  .card--img {
    background: linear-gradient(
        hsla(277, 64%, 40%, 0.6),
        hsla(277, 64%, 40%, 0.6)
      ),
      url('../images/image-header-desktop.jpg') no-repeat;
    background-size: cover;
    border-radius: 0 0.5rem 0.5rem 0;
    height: auto;
    width: 540px;
  }

  .card--info {
    padding: 4.5rem;
    width: 570px;
  }

  .card__text .heading {
    font-size: 2.25rem;
  }

  .card__text .description {
    margin-top: 1.5rem;
  }

  .card__stats {
    display: flex;
    margin-top: 4.5rem;
  }

  .card__stats > * {
    margin-right: 3.75rem;
  }

  .card__stats .stats--templates,
  .card__stats .stats--queries {
    margin-top: 0;
  }

  /* Footer */
  .attribution {
    position: absolute;
    bottom: 1rem;
  }
}
